# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de Firebase
FIREBASE_SERVICE_ACCOUNT_PATH=./serviceAccountKey.json
FIREBASE_DATABASE_URL=https://tu-proyecto.firebaseio.com
